@import "tailwindcss";

html,
body,
#root {
  min-height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
  background: linear-gradient(to bottom, #5fa4ff, #abfe7b);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}